/*
 * Login css File
*/

.login form{
    width: 45%;
    margin:0 auto 5%;
}
.login form fieldset{
    border: 1px solid lightgray;
    padding:5%;
    border-radius: 10px;
}
.login form legend{
    font-weight:bold;
    font-size:2em;
    text-align: center;
}