/*
 * OwnSidebar css File
*/

body{
    background-color: #282c34 !important;
}
.ui.segment {
    border-radius: initial !important; 
    border: 0 !important;
}
.inlineFlex{
    width:100%;
    display: inline-flex;
    margin: 1% 2% 2% 1%;
}
div.inlineFlex form{
    margin: 0 auto !important;
}
div.sidebar.menu{
    background-color: #282c34 !important;
}
div.sidebar.menu .item:first-child{
    margin-top: 6%;
}