/*
 * Products css File
*/

.Products {
    /* propertys here */
}
#oldPrice{
    text-decoration: line-through;
}
#arrowLeft:before{
    content: ' \21F6';
}
.searchForm {
    position: relative;
    bottom: 60px;
    margin: 0 auto;
    width: 27%;
}